.body_background 
{
    background-image: url("https://i.ytimg.com/vi/Dg0IjOzopYU/maxresdefault.jpg");
    background-position: center;
    background-size: cover;
}
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
}

h2
{
	border-radius: 10px;
	width: 200px;
	padding: 5px;
	color:antiquewhite;
	
 }
h3
{
	display: inline-block;
}
span
{
	color: black;	
	font-size: 25px;
}
a
{
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
    float: left;
    border-radius: 10px;
}
#head_info
{
	width: 800px;
	border-radius: 10px;
	margin-bottom: 10px;
	background:rgb(188, 16, 16);
	padding: -50px;
}
